<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-9 col-lg-8 col-12">
      <h1 class="text-muted">Listing Questions</h1>
      <div class="list-group mt-3">
        <% @questions.each do |question| %>
          <%= link_to question.title, question, class: "list-group-item list-group-item-action active" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 col-lg-4 col-12">
    </div>
  </div>
</div>
