<div class="row mt-5 mb-5">
  <div class="col-lg-9">
    <div class="card rounded-0">
      <div class="card-body">
        <h3 class="text-muted mb-4">Write a new article</h3>
        <%= render 'form', article: @article %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
  </div>
</div>
