<div class="modal fade" id="logoutPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="mt-5 mb-4 text-center">
          <h3 class="mb-3">Are you sure you want to logout?</h3>
          <button type="button" class="btn btn-dark rounded-0" data-dismiss="modal">Not Now</button>
          <%= link_to "Yes, Logout Me!", destroy_user_session_path, class: "btn btn-danger rounded-0", method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>